<h1>Hello there, <%= @user.name %>!</h1>



<div class="row">
  <div class="col-md-10">

        <h3>Your Planned Trips</h3>
    <table class="table table-striped">
        <tr>
            <th>Destination</th>
            <th>Travel Start Date</th>
            <th>Travel End Date </th>
            <th>Description</th>

        </tr>
        <% @my_trips.each do |x| %>
        <tr>

            <td><a href="/trips/<%= x.trip.id%>" ><%= x.trip.destination %></a></td>
            <td><%= x.trip.start_date.strftime("%B %d %Y")%></td>
            <td><%= x.trip.end_date.strftime("%B %d %Y") %></td>
            <td><%= x.trip.description %></td>

        </tr>
        <% end %>
    </table>


    <h2>Other User's Travel Plans</h2>
    <table class="table table-striped">
        <tr>
            <th>Organizer</th>
            <th>Destination</th>
            <th>Travel Start Date </th>
            <th>Travel End Date </th>
            <th>Do you want to join?</th>

        </tr>
        <% if @other_trips.any?  %>
        <% @other_trips.each do |x| %>
        <tr>

            <td><%= x.user.name %></td>
            <td><a href="/trips/<%= x.id%>" ><%= x.destination %></a></td>
            <td><%= x.start_date.strftime("%B %d %Y") %></td>
            <td><%= x.end_date.strftime("%B %d %Y") %></td>
            <% if current_user.user_already_added?(x.id, current_user.id) %>
            <td><%= link_to "Join Trip", add_user_path(user: current_user, join: x.id),
                          class: "btn btn-primary btn-xs",
                          method: :post %></td>
            <% else %>
             <td><p>Already Joined</p></td>
             <% end %>

        </tr>
        <% end %>
    </table>
    <% end %>

</div>
